.gopinionIcon {
	position: fixed;
	padding: auto;
	font-size: 24px;
	color: green;
}

.tab { margin-left: 40px; }

.interactTab {
}

.analyzeTab {
}

.createTab {
}

.interactTab.active{
}

.analyzeTab.active{
}

.createTab.active{
}