<div class="row">
	<div class="col-md-6" style="margin-left:auto;margin-right:auto;float:none;">
		<div class="well">
			<form class="form-inline" role="form">
				<div class="form-group">
					Difficulty: 
		    		<select class="form-control" id="Style" ng-model="difficulty">
		    			<option value="0">All</option>
			  			<option value="1">1</option>
			  			<option value="2">2</option>
			  			<option value="3">3</option>
			  			<option value="4">4</option>
			  			<option value="5">5</option>
					</select>
		  		</div>
	  			<div class="form-group">
	  				Subject: 
			    	<select class="form-control" id="Style" ng-model="subject">
				  		<option value="0">All</option>
				  		<option value="1">Addition</option>
				  		<option value="2">Subtraction</option>
				  		<option value="3">Multiplication</option>
				  		<option value="4">Division</option>
					</select>
			  </div>
			  <div class="form-group">
	  				Limit: 
			    	<select class="form-control" id="Style" ng-model="limit">
				  		<option value="0">Last 10</option>
				  		<option value="1">Last 25</option>
				  		<option value="2">Last 50</option>
				  		<option value="3">Last 100</option>
				  		<option value="4">All</option>
					</select>
			  </div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<table class="table">
      <thead>
        <tr>
          <th>Difficulty</th>
          <th>Problem</th>
          <th>Correct Answer</th>
          <th>Your Answer</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="problem in problems" class="{{problem.success}}">
          <td>{{problem.difficulty}}</td>
          <td>{{problem.argOne}} {{problem.operation}} {{problem.argTwo}}</td>
          <td>{{problem.correct}}</td>
          <td>{{problem.answer}}</td>
        </tr>
      </tbody>
    </table>
</div>